/tutorial/
/text-classification/
/pretrain_models/
/experiments/bert-base-cased-full-finetune/ag_news/result/
/experiments/bert-base-cased-full-finetune/auditor_sentiment/result/
/experiments/bert-base-cased-full-finetune/financial_phrasebank/result/
/experiments/bert-base-cased-full-finetune/imdb/result/
/experiments/bert-base-cased-full-finetune/imdb-truncated/result/
/experiments/bert-base-cased-full-finetune/sst2/result/
/experiments/bert-base-cased-full-finetune/tweet_eval_irony/result/
/experiments/bert-base-cased-full-finetune/tweet_eval_stance_abortion/result/
/experiments/bert-base-cased-lora/ag_news/result/
/experiments/bert-base-cased-lora/auditor_sentiment/result/
/experiments/bert-base-cased-lora/financial_phrasebank/result/
/experiments/bert-base-cased-lora/imdb/result/
/experiments/bert-base-cased-lora/imdb-truncated/result/
/experiments/bert-base-cased-lora/sst2/result/
/experiments/bert-base-cased-lora/tweet_eval_irony/result/
/experiments/bert-base-cased-lora/tweet_eval_stance_abortion/result/
/experiments/bert-large-cased-lora/ag_news/result/
/experiments/bert-large-cased-lora/auditor_sentiment/result/
/experiments/bert-large-cased-lora/financial_phrasebank/result/
/experiments/bert-large-cased-lora/imdb-truncated/result/
/experiments/bert-large-cased-lora/sst2/result/
/experiments/bert-large-cased-lora/tweet_eval_irony/result/
/experiments/bert-large-cased-lora/tweet_eval_stance_abortion/result/
/experiments/flan-t5-base-full-finetune/ag_news/result/
/experiments/flan-t5-base-full-finetune/auditor_sentiment/result/
/experiments/flan-t5-base-full-finetune/financial_phrasebank/result/
/experiments/flan-t5-base-full-finetune/imdb-truncated/result/
/experiments/flan-t5-base-full-finetune/sst2/result/
/experiments/flan-t5-base-full-finetune/tweet_eval_irony/result/
/experiments/flan-t5-base-full-finetune/tweet_eval_stance_abortion/result/
/experiments/flan-t5-base-lora/ag_news/result/
/experiments/flan-t5-base-lora/auditor_sentiment/result/
/experiments/flan-t5-base-lora/financial_phrasebank/result/
/experiments/flan-t5-base-lora/imdb-truncated/result/
/experiments/flan-t5-base-lora/tweet_eval_irony/result/
/experiments/flan-t5-base-lora/tweet_eval_stance_abortion/result/
/experiments/flan-t5-large-lora/ag_news/result/flan-t5-large-ag_news-lora/
/experiments/flan-t5-large-lora/auditor_sentiment/result/
/experiments/flan-t5-large-lora/financial_phrasebank/result/
/experiments/flan-t5-large-lora/imdb-truncated/result/
/experiments/flan-t5-large-lora/tweet_eval_irony/result/
/experiments/flan-t5-large-lora/tweet_eval_stance_abortion/result/
/experiments/flan-t5-xl-lora/ag_news/result/
/experiments/flan-t5-xl-lora/auditor_sentiment/result/
/experiments/flan-t5-xl-lora/financial_phrasebank/result/
/experiments/flan-t5-xl-lora/imdb-truncated/result/
/experiments/flan-t5-xl-lora/tweet_eval_irony/result/
/experiments/flan-t5-xl-lora/tweet_eval_stance_abortion/result/
.idea
__pycache__/*
.git
.DS_Store
